---
layout: default
---

<div class="home">
  <h1 class="page-heading">最新文章</h1>
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <div class="post-tags">
          {% for tag in post.tags %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 150 }}</p>
      </li>
    {% endfor %}
  </ul>

  <div class="tag-cloud">
    <h2>标签云</h2>
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      <a href="/tags#{{ tag[0] | slugify }}" class="tag-link">
        {{ tag[0] }} <span class="tag-count">({{ tag[1].size }})</span>
      </a>
    {% endfor %}
  </div>
</div>
