---
layout: default
title: 标签
---
<h1>标签</h1>
<p>按标签浏览文章。</p>

<div class="tag-cloud">
{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
  {% assign tag_name = tag[0] %}
  {% assign tag_posts = tag[1] %}
  {% assign tag_count = tag_posts | size %}
  <a href="#{{ tag_name | slugify }}">
    {{ tag_name }} 
    <span class="count">({{ tag_count }})</span>
  </a>
{% endfor %}
</div>

<hr style="margin: 2.2rem 0;">

{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
{% assign tag_name = tag[0] %}
{% assign tag_posts = tag[1] %}

<h2 id="{{ tag_name | slugify }}">{{ tag_name }}</h2>
<ul class="post-list">
  {% for post in tag_posts %}
    <li class="post-item">
      <h3 style="font-size: 1.05rem;">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h3>
      <div class="post-meta">
        <span>{{ post.date | date: "%Y-%m-%d" }}</span>
      </div>
    </li>
  {% endfor %}
</ul>
{% endfor %}
